{:telegram     {:token "test token"}
 :database     {:jdbc-url           "jdbc:postgresql://localhost:5432/whosin_test"
                :pool-name          "whosin"
                :pool-size          10
                :connection-timeout 10000}
 :rate-limiter {:rate-limit        3
                :rate-limit-window 1
                :redis             {:uri               "redis://localhost:6379/1"
                                    :maximum-pool-size 10
                                    :minimum-idle      5}}
 :nrepl-server {:port 9011}}
