{:telegram     {:token "-- create your own token --"}
 :database     {:jdbc-url           "jdbc:postgresql://localhost:15432/whosin_dev?user=whosin&password=p@ssw0rd"
                :pool-name          "whosin"
                :pool-size          10
                :connection-timeout 10000}
 :rate-limiter {:rate-limit        10
                :rate-limit-window 10
                :redis             {:uri               "redis://localhost:26379/1"
                                    :maximum-pool-size 10
                                    :minimum-idle      5}}
 :nrepl-server {:port 9011}}
