{:telegram     {:token "test token"}
 :database     {:jdbc-url           "jdbc:postgresql://localhost:15432/whosin_test?user=whosin&password=p@ssw0rd"
                :pool-name          "whosin"
                :pool-size          10
                :connection-timeout 10000}
 :nrepl-server {:port 9011}}
