{:telegram     {:token #env TELEGRAM_TOKEN}
 :database     {:jdbc-url           #env JDBC_DATABASE_URL
                :pool-name          "whosin"
                :pool-size          10
                :connection-timeout 10000}
 :rate-limiter {:rate-limit        10
                :rate-limit-window 60
                :redis             {:uri               #env REDIS_URL
                                    :maximum-pool-size 10
                                    :minimum-idle      5}}
 :nrepl-server {:port 9011}}
